---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body {
    max-width: 860px;
    width: 90%;
    padding: 1em;
    padding-top: 3em;
    margin: 0 auto;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
}

.subtitle {
    margin-top: 0px;
    font-weight: normal
}

h1 {
    margin-bottom: 0px;
}

.box {
    padding: 1em;
    margin-bottom: .5em;
    // box-shadow: 0px 1px 10px rgba(41, 128, 185,0.75);
    border: 1px solid;
    border-color: rgba(41, 128, 185,0.6);
    transition: box-shadow 0.15s ease-in-out;
}

.box:hover {
    box-shadow: 0px 1px 10px rgba(41, 128, 185,0.2);
}

.box.encore {
    border-color: rgba(0, 0, 0,0.1);
    // box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.encore:hover {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}

.reject {
    opacity: 50%;
}

.paper-title strong {
    padding-right: .4em;
}

.paper-authors {
    padding-top: 1em;
    font-size: 66%;
}

.paper-links {
    padding-top: 1em;
}

.tag {
    display: inline-block;
    padding: .2em .4em;
    margin-right: .4em;
    border-radius: 4px;
    font-size: 66%;
}

.header-tag {
    padding-left: 0px;
}

.paper-link-main,.paper-link-video {
    color: #2160c4;
    background: #e3ecfa;
}

.paper-link-poster {
    color: #cc0f35;
    background: #fde0e6;
}

.position-paper-tag {
    color: #947600;
    // background: #fff8de;
}

.case-study-tag {
    color: #257942;
    // background: #e6f7ec;
}

.encore-tag {
    color: #555;
    // background: #eee;
}
